// src/styles/main.scss
$button-size: 4rem;
$button-color: #f2f2f2;
$button-border: 1px solid #999;
$button-background: #333;
$button-radius: 1rem;

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    // width: auto;
  margin-top: 5rem;
  border: $button-border;

  #display {
    width: 16.4rem;
    background-color: $button-background;
    color: white;
    font-size: 2rem;
    text-align: right;
    padding: 0.5rem;
    border: $button-border;
  }

  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;

    button {
      width: $button-size;
      height: $button-size;
      background-color: $button-color;
      border: $button-border;
      font-size: 1.5rem;
      cursor: pointer;
    border-radius:$button-radius;

      &.zero {
        grid-column: span 2;
      }

      &:active {
        background-color: darken($button-color, 10%);
      }
    }
  }
}
