@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
// font-family: "Anton SC", sans-serif;


.calculator {
    display: grid;
    grid-template-areas:
      "operations operations operations operations"
      "display display display display"
      "clear backspace divide multiply"
      "seven eight nine subtract"
      "four five six add"
      "one two three equals"
      "zero zero decimal equals";
    gap: 0.2rem;
    width: 20rem;
    min-height: 33rem;
    height: auto;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: -5px -5px 5px rgb(255, 255, 255), 5px 5px 5px silver,;
    background-color: #ffbb00;
font-family: "Anton SC", sans-serif;
border: 2px outset #ffbb00;

  }
  
  .operations {
    grid-area: operations;
    background-color: #343434;
    color: #ffffff;
    text-align: right;
    padding: 0.5rem;
    
    font-size: 1.2em;
    white-space: pre-line; /* to preserve new lines */
    border-radius: 1rem 1rem 0 0;
font-family: "Anton SC", sans-serif;
border: 2px inset #fff;
  }
  
  .display {
    grid-area: display;
    background-color: #343434;
    color: #fff;
    text-align: right;
    padding: 1rem;
    font-size: 2em;
    border-radius: 0 0 10px 10px;
font-family: "Anton SC", sans-serif;
border: 2px inset #fff;
  }
  
  button {
    background-color: rgb(237, 237, 237);
    border: none;
    // font-size: 1.5em;
    padding: 0.3rem;
    cursor: pointer;
    border-radius: 1rem;
font-family: "Anton SC", sans-serif;
font-size: 2rem;
box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
// border-style: outset;
border: 2px outset rgb(255, 213, 0);
// overflow: inherit;
  
    &:hover {
      background-color: #ffffff;
    }
  
    &:active {
      background-color: #ffffff;
border: 2px outset rgb(255, 213, 0);

    }
  }
  
  #clear {
    grid-area: clear;
    background-color: #f20000;
    color: #fff;
    font-weight: 500;

    &:hover{
      background-color: #ff0000;
    }
  }
  
  #backspace {
    grid-area: backspace;
    background-color: #f13e3e;
    color: #fff;
    &:hover{
    background-color: #ff4242;

    }
  }
  
  #divide, #multiply, #subtract, #add {
    background-color: #00e4ec;
    &:hover{
      background-color: #00f7ff;
    }
  }
  
  #equals {
    grid-area: equals;
    background-color: #00f600;
    color: #fff;
    &:hover{
    background-color: #00ff00;

    }
  }
  
  #decimal {
    background-color: #539fea;
    &:hover{
    background-color: #66b3ff;

    }
  }
  
  button:focus {
    outline: none;
  }
  