@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    display: grid;
    align-content: center;
    font-family: "DM Sans", sans-serif;
    background-image: url(pexels-nastyasensei-335393.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    color: #ffffff;
}

body::-webkit-scrollbar{
    display: none;
}

form{ 
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 1.5rem;
    background-color: #ffffff5c ;
    backdrop-filter: blur(4px);
}

body .outer{
    text-align: center;
}

body  form .inps{
    height: 2rem;
    width: 44rem;
    padding-left: 0.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: whitesmoke;
}

body  form #com{
    font-family: "DM Sans", sans-serif;
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 1rem;
    resize: vertical;
}

body form .h{
    display: grid;
    font-size: 1.5em;
    font-weight: bold;
    margin: 16px 0px 16px 0px;
}

body form #submit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px 20px;
    color: #fff;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.346);
    cursor: pointer;
    font-size: 16px;
    border-radius: 7.5px;
}