@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
/* font-family: "Cutive", serif;
font-family: "DM Serif Display", serif; */
/* font-family: "Inter", sans-serif; */
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background: #343434;
}

body::-webkit-scrollbar{
    display: none;
}

nav{
    position: fixed;
    top: 0;
    width: 98%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
    font-family: "DM Serif Display", serif;
    /* font-size: 1.65rem; */
    background-color: #343434;
    color: aliceblue;
    font-weight: 900;
}


#left-nav{
    font-size: 1.65rem;
    margin: 0rem 1rem 0rem 1rem;
}

#right-nav a{
    font-size: 1.5rem;
    /* display: flex; */
    /* justify-content: space-between; */
    margin: 0rem 1rem 0rem 1rem;
    /* border: 2px solid black; */
}

#right-nav a:link,
#right-nav a:visited{
    color: #ffffff;
    text-decoration: none;
}

#left-nav a:link,
#left-nav a:visited{
    color: #ffffff;
    text-decoration: none;
}

#right-nav a:hover{
    color: #00aeff;
    transition-duration: 0.75s;
}

#left-nav a:hover{
    color: #ffd000;
    transition-duration: 0.75s;
}

#welcome-section{
    height: 100vh;
    display: grid;
    place-content: center;
    font-family: "Inter", sans-serif;
    border: 2px solid #343434;
    border-radius: 1rem;
    background-image: radial-gradient(#ffffff, #00aeff);
}

#welcome-section h1{
    font-weight: 900;
    font-size: 2rem;
    color: #00aeff;
    margin: 0;
    padding: 0;
    /* border: 2px solid #343434; */
}

p{
    color: #858585;
    font-weight: 700;
    text-align: center;
    /* border: 2px solid #343434; */
    margin: 0;
    padding: 0;
}

#projects{
    height: 100vh;
    display: grid;
    place-content: center;
    border: 2px solid #343434;
    border-radius: 1rem;
    background: #eaeaea;
    font-family: "Inter", sans-serif;
    color: #ffd000;
}

#projects h1{
    font-size: 2rem;
}

.project-tile{
    
    display: grid;
    place-items: center;
    /* border: 2px solid #00aeff; */
    border-radius: 1rem;
    background-color: #717171;

    img{
        width: 480px;
        height: 220px;
        /* place-content: center; */
        /* border: 2px solid #ffd000; */
        border-radius: 1rem;
        margin: 1rem 0rem 1rem 0rem;
    }

    h1{
        font-size: 2rem;
        /* border: 2px solid #343434; */
        color: #ffffff;
        margin: auto;
    }

    p{
        text-align: center;
        margin: 1rem 1rem 0rem 1rem;
        /* margin: auto; */
        color: #c6c6c6;
    }

    #link{
        text-align: center;
        margin: 0rem 0rem 1rem 0rem;
        /* margin: auto; */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
        border: 1px solid #343434;
        background-color: #343434;
        padding: 0.25rem 0.5rem 0.24rem 0.5rem;
        margin-top: 0.75rem;
        border-radius: 0.5rem;
    }

    a:link,a:visited{
        color: #ffffff;
        text-decoration: none;

    }


    
}

#contact{
    height: 100vh;
    display: grid;
    place-content: center;
    border: 2px solid #343434;
    border-radius: 1rem;
    background: #eaeaea;
    font-family: "Inter", sans-serif;

}

@media screen {
    
}